<h1> {{h1}}</h1>
<p>{{content}}</p>

{{#each destinations as |destination|}}
<div>
    
    <h2><a href="/destination/{{destination._id}}">Detail</a> {{destination.city}} - {{destination.country}}</h2>
    <img src="{{destination.price}}" alt="">
    <span>{{destination.price}}</span>
</div>
{{/each}}
<a href="{{about}}">about</a>